# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
next-env.d.ts

# Production
build
dist

# Deployments
.vercel

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.pnpm-debug.log*

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.idea
.vscode

# Typescript
*.tsbuildinfo

# Secrets — extra caution
*.key
secrets.json
